/*CSS Reser*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

:root{
  /* Base Dark */
  --black: #000000;
  --bg-dark-1: #07051a;
  --bg-dark-2: #0b0f2e;

  /* RGB Accent */
  --pink: #ff2d55;
  --magenta: #ff4da6;
  --violet: #6b3cff;
  --blue: #1b6cff;

  /* Text */
  --white: #f6f7fb;
  --muted: rgba(255,255,255,0.65);

  /* Gradient Hero Dynamic */
  --hero-gradient: linear-gradient(
      135deg,
      #ff2d55,
      #6b3cff,
      #1b6cff
  );
}

body {
    margin:0;
    font-family:'Poppins', sans-serif;
    color:var(--white);

    background:
        radial-gradient(circle at 20% 80%, rgba(255,45,85,0.15), transparent 40%),
        radial-gradient(circle at 80% 20%, rgba(107,60,255,0.15), transparent 40%),
        linear-gradient(135deg, var(--bg-dark-1), var(--bg-dark-2));

    min-height:100vh;
    display:flex;
    flex-direction:column;
}

#navbar {
    height: 80px;
    width: 100%;
    display: flex;
    background-color: rgb(100, 97, 97);
    padding: 0 40px;
    align-items: center;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(20px);
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container-nav-flex {
    width: 100%;
    display: flex;                 
    justify-content: space-between; /* logo kiri, nav kanan */
    align-items: center;
}

nav {
    display: flex;
    gap: 28px;
    margin-left: auto;
}

nav a {
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    opacity: 0.8;
    transition: opacity 0.3s;
}

nav a:hover {
    opacity: 1;
    color: var(--pink);
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.logo .accent {
    color: var(--pink);
}

.container {
    padding: 20px auto;
    width: 100%;
    box-sizing: border-box;
}

.hero-container {
    display: flex;              /* Aktifkan flex */
    justify-content: center;    /* Tengah horizontal */
    align-items: center;        /* Tengah vertikal */
    text-align: center;         /* Tengah teks */
}

.hero-container h1 {
    margin-top: 300px;
    font-size: 60px;
    letter-spacing: 2px;
    opacity: 0.8;
    text-align: center;
}

.hero-container h2 {
    font-size: 40px;
    letter-spacing: 2px;
    opacity: 0.8;
    text-align: center;
}

.hero{
    margin-top: 40px;;
    position:relative;
    flex-direction:column;
    display:flex;
    align-items:center;
    overflow:hidden;
    height: 1000px;
    width: 100%;
    gap: 20px;
}

/* Gradient layer */
.hero::before{
    content:"";
    position:absolute;
    inset:0;
    background: linear-gradient(
        120deg,
        #ff2d55,
        #6b3cff,
        #1b6cff,
        #ff4da6
    );
    background-size: 300% 300%;
    animation: gradientMove 8s ease infinite;
    opacity:0.15;
}

/* Fade ke hitam di bawah */
.hero::after{
    content:"";
    position:absolute;
    inset:0;
    background: linear-gradient(
        to bottom,
        transparent 60%,
        #000 100%
    );
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.outer-container {
    margin-top: 100px;
    width: 100%;
    padding-top: 100px;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.outer-container h3 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
}

.card-container {
    align-items: center;
    height: 600px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px 10px;
    margin: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;    /* Scroll halus */
}

.card-container::-webkit-scrollbar {
    height: 8px;
}

.card-container::-webkit-scrollbar-track {
    background: tranparent;
}

.card-container::-webkit-scrollbar-thumb {
    background: var(--pink);
    border-radius: 20px;
}

.card {
    min-width: 250px;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    backdrop-filter: blur(6px);
    border-radius: 16px;
    padding: 10px;
    background: rgba(255, 23, 255, 0.05);
    justify-content: center;
    font-weight: bold;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background: linear-gradient(90deg, var(--pink), var(--violet));
}

.biodata-container {
    margin-top: 100px;
    padding: 200px;

    background: linear-gradient(
        135deg,
        #3a003a,
        #7b0055,
        #ff2d55
    );

    box-shadow: 0 40px 80px rgba(0,0,0,0.6);
}

h3 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.title-bio {
    font-size: 32px;
    font-weight: bold;
    color: white
}

.bio-content {
    margin-top: 60px;
    display: grid; 
    grid-template-columns: 1fr 1fr;            /* Membuat konten bersebelahan */
    align-items: center;       /* Supaya teks dan foto sejajar di tengah secara vertikal */
    justify-content: center;   /* Supaya konten berada di tengah container */
    gap: 50px;                 /* Memberi jarak antara foto dan teks */
    padding: 60px;
    border-radius: 16px;
    background: rgba(106, 20, 133, 0.795);
}

.image-profile {
    width: 350px;
    height: 100%;  
    padding: 40px; 
    object-fit: cover;         /* Agar foto tidak penyok */
}

.bio-content p {
    padding: 40px;
    font-size: 14px;
    color:#fff;
    text-align: justify;       /* Membuat teks rata kiri-kanan */
    line-height: 1.8;
}

.button-contact a {
    display: inline-block;
    height: 50px;
    width: 150px;
    background: linear-gradient(90deg, var(--pink), var(--magenta));
    border-radius: 30px;
    color: white;
    background: rgba(106, 20, 133, 0.795);
    text-decoration: none;
    margin-top: 50px;
    transition: 0.3s ease-in;
    text-align: center;
    padding: 13px;
    border: 1px solid white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.button-contact a:hover {
    transform: scale(1.05);
    background: linear-gradient(90deg, var(--pink), var(--violet));
}

footer {
    height: 250px;
    width: 100%;
    align-items: center;
    padding: 80px;
    text-align: center;
    background: rgba(255,255,255,0.05);
}

footer h4 {
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
}

footer a {
    color: var(--violet);
    margin-bottom: 20px;
}

footer p {
    margin-top: 30px;
    font-size: 14px;
    color: white;
}